@import "variables";

*{
    box-sizing: border-box;
    font-size: 15px;
}

a{
    text-decoration: none;
    color: #fff;
}

// --------------------------- NAVBAR --------------------------

.navbar-wrapper{
    background-color: $nav-bar-color;
    color: #fff;
    .nav-bar{
        .bookmarks{
            display: flex;
            flex-direction: row;
        }
        .logo{
            display: flex;
            img{
                width: 60px;
                margin: 0 auto;
            }
        }
        .options{
            text-align: right;
            display: flex;
            flex-direction: row;
            .language{
                padding: 20px 10px;
                .flag{
                    width: 25px;
                }
                span{
                    text-transform: uppercase;
                    color: #fff;
                }
            }
            .notification-icon{
                position: relative;
                .badge{
                    color: #fff;
                    position: absolute;
                    left: 20px;
                    top: 11px;
                    border-radius:50%;
                }
            }
            .user{
                display: flex;
                flex-direction: row;
                padding: 13px 0;
                .user-descriptions{
                    padding: 0px 5px 0 15px;
                    span{
                        display: block;
                        line-height: 1.2;
                        color: #fff;
                        text-align: right;
                        &.user-name{
                            font-size: 110%                       
                        }
                        &.user-status{
                            font-size: 90%;
                        }
                    }
                }
                .user-image{
                    width: 40px;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: border;
                }
            }
        }
    }
}
.navbar-nav{
    flex-direction: row;
    .nav-item{
        .nav-link i{
            font-size: 130%;
            color: #fff;
            padding: 15px 10px;
        }
    }
}