* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 15px;
}

body {
  background-color: #F2F4F4;
}

a {
  text-decoration: none;
}

.container {
  padding: 0;
}

.navbar-wrapper {
  background-color: #5A8DEE;
}

.navbar-wrapper .nav-bar .bookmarks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-wrapper .nav-bar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar-wrapper .nav-bar .logo img {
  width: 60px;
  margin: 0 auto;
}

.navbar-wrapper .nav-bar .options {
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-wrapper .nav-bar .options .language {
  padding: 20px 10px;
  color: #fff;
  font-weight: 500;
}

.navbar-wrapper .nav-bar .options .language .flag {
  width: 25px;
}

.navbar-wrapper .nav-bar .options .notification-icon {
  position: relative;
}

.navbar-wrapper .nav-bar .options .notification-icon .badge {
  color: #fff;
  position: absolute;
  left: 20px;
  top: 11px;
  border-radius: 50%;
}

.navbar-wrapper .nav-bar .options .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 13px 0;
}

.navbar-wrapper .nav-bar .options .user .user-descriptions {
  padding: 0px 5px 0 15px;
}

.navbar-wrapper .nav-bar .options .user .user-descriptions span {
  display: block;
  line-height: 1.2;
  color: #fff;
  text-align: right;
}

.navbar-wrapper .nav-bar .options .user .user-descriptions span.user-name {
  font-size: 110%;
}

.navbar-wrapper .nav-bar .options .user .user-descriptions span.user-status {
  font-size: 90%;
}

.navbar-wrapper .nav-bar .options .user .user-image {
  width: 40px;
  height: 100%;
  border-radius: 50%;
  -webkit-box-shadow: border;
          box-shadow: border;
}

.navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar-nav .nav-item .nav-link i {
  font-size: 130%;
  color: #fff;
  padding: 15px 10px;
}

.navbar-nav .dropdown-menu-nav {
  margin: 10px 5px;
}

.navbar-nav .dropdown-menu-nav .link-menu {
  color: #727E8C;
  padding: 10px 10px;
}

.navbar-nav .dropdown-menu-nav .link-menu i {
  color: #727E8C;
  padding: 0;
}

.navbar-nav .active {
  border-radius: 3%;
  background-color: rgba(231, 231, 231, 0.705);
}

.navbar-wrapper-menu {
  border-bottom: 1px solid #d1d1d1;
}

.card {
  border: 0 solid #DFE3E7;
  margin: 10px;
  -webkit-box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
          box-shadow: -8px 12px 18px 0 rgba(25, 42, 70, 0.13);
  border-radius: 2%;
}

.card .card-header {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-header i {
  margin-left: auto;
  margin-top: 10px;
}
/*# sourceMappingURL=styles.css.map */