@import "variables";

*{
    box-sizing: border-box;
    font-size: 15px;
    
}
body{
    background-color:#F2F4F4;
}

a{
    text-decoration: none;
}

.container{
    padding:0;
}

h4{
    
}

// --------------------------- NAVBAR --------------------------

.navbar-wrapper{
    background-color: $nav-bar-color;
    .nav-bar{
        .bookmarks{
            display: flex;
            flex-direction: row;
        }
        .logo{
            display: flex;
            img{
                width: 60px;
                margin: 0 auto;
            }
        }
        .options{
            text-align: right;
            display: flex;
            flex-direction: row;
            .language{
                padding: 20px 10px;
                color: #fff;
                font-weight: 500;
                .flag{
                    width: 25px;
                }
            }
            .notification-icon{
                position: relative;
                .badge{
                    color: #fff;
                    position: absolute;
                    left: 20px;
                    top: 11px;
                    border-radius:50%;
                }
            }
            .user{
                display: flex;
                flex-direction: row;
                padding: 13px 0;
                .user-descriptions{
                    padding: 0px 5px 0 15px;
                    span{
                        display: block;
                        line-height: 1.2;
                        color: #fff;
                        text-align: right;
                        &.user-name{
                            font-size: 110%                       
                        }
                        &.user-status{
                            font-size: 90%;
                        }
                    }
                }
                .user-image{
                    width: 40px;
                    height: 100%;
                    border-radius: 50%;
                    box-shadow: border;
                }
            }
        }
    }
}
.navbar-nav{
    flex-direction: row;
    .nav-item{
        .nav-link i{
            font-size: 130%;
            color: #fff;
            padding: 15px 10px;
        }
    }
    .dropdown-menu-nav{
        margin: 10px 5px;
        .link-menu{
            color: #727E8C;
            padding: 10px 10px;
            i {
                color: #727E8C;
                padding: 0;
            }
            
        }
    }
    .active{
        border-radius: 3%;
        background-color:rgba(231, 231, 231, 0.705);
    }
}

.navbar-wrapper-menu{
    border-bottom: 1px solid #d1d1d1;
}

// --------------------------- NAVBAR --------------------------

.card{
    border: 0 solid #DFE3E7;
    margin: 10px;
    box-shadow: -8px 12px 18px 0 rgba(25,42,70,.13);
    border-radius: 2%;
    .card-header{
        border:none;
        display: flex;
        i{
            margin-left: auto;
            margin-top: 10px;
        }
    }
}